@page "/PrimerUsuario"
@attribute [Authorize(Roles = "TempAcces")]
@layout Layout.UnauthorizedLayout
@inject UsuarioUseCase UsuarioUseCase
@inject NavigationManager Navigation


<div class="d-flex justify-center align-center" style="height: 100vh;">
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudCard Elevation="3">
            <MudCardHeader class="text-center">
                <CardHeaderContent>
                    <MudText Typo="Typo.h3">
                        <InventSys.Components.Layout.InventSysLogo />
                    </MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudDivider />
            <MudCardContent>
                <EditForm Model="@crearUsuarioDto" OnValidSubmit="Submit" id="createUserForm">
                    <DataAnnotationsValidator />
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
                    }
                    <MudGrid>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Nombre" @bind-Value="crearUsuarioDto.Nombre" For="@(() => crearUsuarioDto.Nombre)" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Apellido" @bind-Value="crearUsuarioDto.Apellido" For="@(() => crearUsuarioDto.Apellido)"/>
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Correo" @bind-Value="crearUsuarioDto.Correo" For="@(() => crearUsuarioDto.Correo)"/>
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Nombre de usuario" @bind-Value="crearUsuarioDto.UserName" For="@(() => crearUsuarioDto.UserName)"/>
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Contraseña"
                                @bind-Value="crearUsuarioDto.Password" 
                                For="@(() => crearUsuarioDto.Password)"
                                InputType="@passwordInputType"
                                Adornment="Adornment.End" 
                                AdornmentIcon="@passwordIcon"
                                OnAdornmentClick="TogglePasswordVisibility"/>
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Contraseña" 
                                HelperText="Repite la contraseña"
                                @bind-Value="crearUsuarioDto.PasswordConfirmation" 
                                For="@(() => crearUsuarioDto.PasswordConfirmation)" 
                                InputType="@confirmPasswordInputType"
                                Adornment="Adornment.End" 
                                AdornmentIcon="@confirmPasswordIcon"
                                OnAdornmentClick="ToggleConfirmPasswordVisibility"/>
                        </MudItem>
                    </MudGrid>

                </EditForm>
            </MudCardContent>
            <MudCardActions>
                <MudButton StartIcon="@Icons.Material.Filled.ArrowBack" Variant="Variant.Filled" OnClick="Cancelar" Color="Color.Secondary">Cancelar</MudButton>
                <MudSpacer />
                <MudButton StartIcon="@Icons.Material.Filled.Add"  Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Form="createUserForm">Crear usuario</MudButton>
            </MudCardActions>
        </MudCard>
    </MudContainer>
</div>

@code {
    private CrearUsuarioDto crearUsuarioDto = new()
    {
        IdRol = 1 //Administrador
    };

    private bool passwordVisibility;
    private InputType passwordInputType = InputType.Password;
    private string passwordIcon = Icons.Material.Filled.VisibilityOff;

    private bool confirmPasswordVisibility;
    private InputType confirmPasswordInputType = InputType.Password;
    private string confirmPasswordIcon = Icons.Material.Filled.VisibilityOff;

    private string errorMessage = string.Empty;

    private async Task Submit()
    {
        errorMessage = string.Empty;
        try
        {
            var usuarioCreado = await UsuarioUseCase.CrearUsuarioAsync(crearUsuarioDto);
            Navigation.NavigateTo("/Account/LogOut",true);

        }
        catch (UserException ex)
        {
            errorMessage = ex.Message;
        }
        catch (Exception)
        {
            errorMessage = "Ocurrió un error al crear el usuario";
        }

    }

    private void Cancelar()
    {
        Navigation.NavigateTo("/Account/Login", true);
    }

    private void TogglePasswordVisibility()
    {
        passwordVisibility = !passwordVisibility;
        passwordInputType = passwordVisibility ? InputType.Text : InputType.Password;
        passwordIcon = passwordVisibility ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff;
    }

    private void ToggleConfirmPasswordVisibility()
    {
        confirmPasswordVisibility = !confirmPasswordVisibility;
        confirmPasswordInputType = confirmPasswordVisibility ? InputType.Text : InputType.Password;
        confirmPasswordIcon = confirmPasswordVisibility ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff;
    }

}